*Makefile
*.o
*.lo
src/.deps/
apps/calculator/.deps/
apps/desktop/.deps/
apps/desktop/libvncserver/.deps/
apps/filemanager/.deps/
apps/launcher/.deps/
apps/shell/.deps/
autom4te.cache/
config.log
config.status
config_ftk.h
config_ftk.h.in~
fbus/.deps/
fbus/demo/.deps/
fbus/demo/echo.service
fix.patch
ftk.cnf
ftk.pc
libtool
opengles/opengles.pc
opengles/redbook/.deps/
opengles/src/.deps/
po/Makefile.in
po/POTFILES
script_binding/lua/.deps/
script_binding/lua/lua/.deps/
services/fconf/.deps/
services/fconf/fconf.service
src/demos/.deps/
src/test/.deps/
stamp-h1
tools/imconvert/.deps/
INSTALL
aclocal.m4
compile
config.guess
config.sub
config_ftk.h.in
configure
depcomp
install-sh
ltmain.sh
missing
INSTALL
aclocal.m4
compile
config.guess
config.sub
config_ftk.h.in
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in
src/im/Makefile.in
src/im/gpinyin/Makefile.in
src/im/default/Makefile.in
src/backend/native/Makefile.in
src/backend/iphone/Makefile.in
src/backend/Makefile.in
src/backend/win32/Makefile.in
src/backend/x11-emu/Makefile.in
src/backend/psp/Makefile.in
src/backend/sigma/Makefile.in
src/backend/ucosii/Makefile.in
src/backend/directfb/Makefile.in
src/demos/Makefile.in
src/compiler/Makefile.in
src/test/Makefile.in
src/os/iphone/Makefile.in
src/os/Makefile.in
src/os/ucos-ii/Makefile.in
src/os/linux/Makefile.in
src/os/psp/Makefile.in
src/os/windows/Makefile.in
opengles/src/Makefile.in
opengles/Makefile.in
opengles/include/Makefile.in
opengles/include/GLES/Makefile.in
opengles/redbook/Makefile.in
opengles/ug/Makefile.in
data/Makefile.in
Makefile.in
script_binding/Makefile.in
script_binding/lua/Makefile.in
script_binding/lua/lua/Makefile.in
testdata/Makefile.in
tools/fbusgen/Makefile.in
tools/Makefile.in
tools/fontextract/Makefile.in
tools/luagen/idl/Makefile.in
tools/luagen/Makefile.in
tools/imconvert/Makefile.in
tools/cross-build/Makefile.in
theme/Makefile.in
theme/default/Makefile.in
apps/common/Makefile.in
apps/shell/data/Makefile.in
apps/shell/Makefile.in
apps/shell/icons/Makefile.in
apps/desktop/libvncserver/Makefile.in
apps/desktop/xul/Makefile.in
apps/desktop/Makefile.in
apps/desktop/icons/Makefile.in
apps/Makefile.in
apps/gallery/data/Makefile.in
apps/gallery/Makefile.in
apps/gallery/icons/Makefile.in
apps/gallery/lua/Makefile.in
apps/filemanager/data/Makefile.in
apps/filemanager/Makefile.in
apps/filemanager/icons/Makefile.in
apps/calculator/data/Makefile.in
apps/calculator/Makefile.in
apps/calculator/icons/Makefile.in
apps/launcher/Makefile.in
fbus/demo/Makefile.in
fbus/Makefile.in
docs/reference/Makefile.in
docs/Makefile.in
po/Makefile.in
services/Makefile.in
services/fconf/Makefile.in
apps/calculator/.libs/
apps/calculator/calc
apps/calculator/libapp-calc.la
apps/desktop/.libs/
apps/desktop/app_info_test
apps/desktop/desktop
apps/desktop/libvncserver/.libs/
apps/desktop/libvncserver/libvncserver.la
apps/filemanager/.libs/
apps/filemanager/filem
apps/filemanager/libapp-filem.la
apps/launcher/.libs/
apps/launcher/ftk_launcher
apps/shell/.libs/
apps/shell/libapp-shell.la
apps/shell/shell
fbus/.libs/
fbus/demo/.libs/
fbus/demo/echo_service
fbus/demo/echo_test
fbus/demo/libecho.la
fbus/libfbus.la
fbus/parcel_test
fbus/service_infos_test
fbus/service_manager
fbus/service_manager_test
script_binding/lua/.libs/
script_binding/lua/ftk_run
script_binding/lua/libftklua.la
script_binding/lua/lua/.libs/
script_binding/lua/lua/liblua.la
services/fconf/.libs/
services/fconf/fconf_service
services/fconf/fconf_test
services/fconf/fconf_xml_test
services/fconf/libfconf.la
src/.libs/
src/demos/.libs/
src/demos/demo_button
src/demos/demo_check_button
src/demos/demo_combo_box
src/demos/demo_dialog
src/demos/demo_draw
src/demos/demo_entry
src/demos/demo_file_browser
src/demos/demo_fullscreen
src/demos/demo_hello
src/demos/demo_icon_view
src/demos/demo_image
src/demos/demo_image_button
src/demos/demo_ime
src/demos/demo_keyboard
src/demos/demo_label
src/demos/demo_listview
src/demos/demo_menu
src/demos/demo_msgbox
src/demos/demo_multi_win
src/demos/demo_popup
src/demos/demo_progress_bar
src/demos/demo_scroll_bar
src/demos/demo_sprite
src/demos/demo_statusbar
src/demos/demo_tab
src/demos/demo_text_view
src/demos/demo_transparent
src/demos/demo_wait_box
src/demos/demo_xul
src/demos/libftk_demos.la
src/libftk.la
src/test/.libs/
src/test/animation_trigger_default_test
src/test/bitmap_test
src/test/canvas_test
src/test/font_desc_test
src/test/ftk_test
src/test/interpolator_test
src/test/label_test
src/test/main_loop_test
src/test/pairs_test
src/test/params_test
src/test/primary_source_test
src/test/widget_test
tools/imconvert/fitx_convert
tools/imconvert/shrink

