*Makefile
*.o
*.lo
src/.deps/
apps/calculator/.deps/
apps/desktop/.deps/
apps/desktop/libvncserver/.deps/
apps/filemanager/.deps/
apps/launcher/.deps/
apps/shell/.deps/
autom4te.cache/
config.log
config.status
config_ftk.h
config_ftk.h.in~
fbus/.deps/
fbus/demo/.deps/
fbus/demo/echo.service
fix.patch
ftk.cnf
ftk.pc
libtool
opengles/opengles.pc
opengles/redbook/.deps/
opengles/src/.deps/
po/Makefile.in
po/POTFILES
script_binding/lua/.deps/
script_binding/lua/lua/.deps/
services/fconf/.deps/
services/fconf/fconf.service
src/demos/.deps/
src/test/.deps/
stamp-h1
tools/imconvert/.deps/
INSTALL
aclocal.m4
compile
config.guess
config.sub
config_ftk.h.in
configure
depcomp
install-sh
ltmain.sh
missing
INSTALL
aclocal.m4
compile
config.guess
config.sub
config_ftk.h.in
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in
src/im/Makefile.in
src/im/gpinyin/Makefile.in
src/im/default/Makefile.in
src/backend/native/Makefile.in
src/backend/iphone/Makefile.in
src/backend/Makefile.in
src/backend/win32/Makefile.in
src/backend/x11-emu/Makefile.in
src/backend/psp/Makefile.in
src/backend/sigma/Makefile.in
src/backend/ucosii/Makefile.in
src/backend/directfb/Makefile.in
src/demos/Makefile.in
src/compiler/Makefile.in
src/test/Makefile.in
src/os/iphone/Makefile.in
src/os/Makefile.in
src/os/ucos-ii/Makefile.in
src/os/linux/Makefile.in
src/os/psp/Makefile.in
src/os/windows/Makefile.in
opengles/src/Makefile.in
opengles/Makefile.in
opengles/include/Makefile.in
opengles/include/GLES/Makefile.in
opengles/redbook/Makefile.in
opengles/ug/Makefile.in
data/Makefile.in
Makefile.in
script_binding/Makefile.in
script_binding/lua/Makefile.in
script_binding/lua/lua/Makefile.in
testdata/Makefile.in
tools/fbusgen/Makefile.in
tools/Makefile.in
tools/fontextract/Makefile.in
tools/luagen/idl/Makefile.in
tools/luagen/Makefile.in
tools/imconvert/Makefile.in
tools/cross-build/Makefile.in
theme/Makefile.in
theme/default/Makefile.in
apps/common/Makefile.in
apps/shell/data/Makefile.in
apps/shell/Makefile.in
apps/shell/icons/Makefile.in
apps/desktop/libvncserver/Makefile.in
apps/desktop/xul/Makefile.in
apps/desktop/Makefile.in
apps/desktop/icons/Makefile.in
apps/Makefile.in
apps/gallery/data/Makefile.in
apps/gallery/Makefile.in
apps/gallery/icons/Makefile.in
apps/gallery/lua/Makefile.in
apps/filemanager/data/Makefile.in
apps/filemanager/Makefile.in
apps/filemanager/icons/Makefile.in
apps/calculator/data/Makefile.in
apps/calculator/Makefile.in
apps/calculator/icons/Makefile.in
apps/launcher/Makefile.in
fbus/demo/Makefile.in
fbus/Makefile.in
docs/reference/Makefile.in
docs/Makefile.in
po/Makefile.in
services/Makefile.in
services/fconf/Makefile.in

